// COLORS
$color-kwpb-main:           #00e3a6;
$color-kwpb-complement:     #fec700;
$color-kwpb-warning:        #fe4500;
$color-kwpb-grey:           #f2f2f2;
$color-kwpb-grey-dark:      #cbcbcb;
$color-kwpb-grey-darker:    #7c7c7c;
$color-kwpb-dark:           #212529;
$color-kwpb-black:          #000000;
$color-kwpb-white:          #FFFFFF;
$color-kwpb-opa-white:      rgba(255, 255, 255, 0.7);
$color-kwpb-opa-black:      rgba(0, 0, 0, 0.7);
$color-kwpb-opa-lightgrey:  rgba(250, 248, 247, 0.95);

$color-kwpb-table-head:     #dcdcdc;
$color-kwpb-table-rows:     #ececec;
$color-kwpb-table-rows-odd: #f1f1f1;

// TEXT
$font-weight-light:    300;
$font-weight-regular:  400;
$font-weight-heavy:    800;
$font-weight-bold:     600;
$font-weight-bolder:   700;

$font-size-xx-small:    8px;
$font-size-x-small:    10px;
$font-size-small:      14px;
$font-size-regular:    16px;
$font-size-large:      20px;
$font-size-x-large:    24px;
$font-size-xx-large:   32px;
$font-size-xxx-large:  40px;

$text-color:        $color-kwpb-dark;
$header-color:      $color-kwpb-main;
$link-color:        $color-kwpb-main;
$base-font-size:    $font-size-regular;
$base-font-family:  "Avenir";
$base-font-weight:  $font-weight-regular;
$base-line-height:  1.6;

// RESOLUTIONS
$mobile-small:    240px;
$mobile-large:    320px;
$mobile-iphoneX:  812px;
$tablet-small:    480px;
$tablet-large:    768px;
$screen-small:    1024px;
$screen-large:    1280px;

// MISC
$bootstrap-xs-breakpoint:   576px;
$base-transition-time:      0.2s;
$kwpb-header-height:        560px;
