@import "partials/variables";

.medialist {
  background: $color-kwpb-white;
  border-bottom: 2px solid $color-kwpb-main;
  ul {
    padding-left: 0px !important;
    margin: 0px !important;
    list-style: none;
    li {
      padding: 10px 10px;
      &:nth-child(odd) {
        background: $color-kwpb-opa-white;
      }
      &:nth-child(even) {
        background: $color-kwpb-white;
      }
      &:hover {
        background: $color-kwpb-opa-lightgrey !important;
      }
      img {
        margin-right: 10px;
      }
    }
  }

  h2, h3.media-title, h4.media-title, h5 {
    color: $text-color;
    font-weight: $font-weight-bolder;
    text-transform: none;
    text-decoration: none;
    border: 0px;
    margin: 0px !important;
    padding: 0px;
    &:before, &:after {
      display: none;
    }
    a {
      text-decoration: none;
    }
  }

  h2, h5 {
    font-size: $font-size-x-large;
    font-weight: $font-weight-regular;
    color: $color-kwpb-white;
    padding: 10px 15px;
    &.card-title {
      color: $text-color;
      padding: 0px;
    }
  }

  .term-border {
    &:after {
      z-index: 90;
      transform: rotate(540deg);
      content: '';
      border: 10px solid #fff;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: inherit;
      border-left-color: transparent;
      position: absolute;
      bottom: -19px;
      right: 15px;
      font-size: 0;
      line-height: 0;
      width: 0;
      height: 0;
      display: block;
    }
  }

  .wp-block-embed {
    margin-bottom: 0px;
  }

  .timediff {
    color: $color-kwpb-grey-darker;
    font-size: $font-size-small;
    i {
      color: $color-kwpb-grey-dark;
      font-size: 75%;
      margin-left: 2px;
    }
    span {
      margin-left: 5px;
    }
  }

  .media-body {
    font-size: $font-size-small;
    h3.media-title {
      font-size: $font-size-large;
      &:before {
        z-index: 100;
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        content: '';
        border: 10px solid #fff;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #fff;
        border-left-color: transparent;
        position: relative;
        margin-top: -20px;
        top: -19px;
        left: 0px;
        font-size: 0;
        line-height: 0;
        width: 0;
        height: 0;
        display: block;
      }
    }
    h4.media-title {
      font-size: 15px;
    }

    p {
      margin: 0.5rem 0px !important;
      font-size: $font-size-small !important;
      line-height: normal !important;
    }

    .media-time-more {
      margin: 0.3rem 0px -0.2rem 0px;
    }

    .readmore {
      color: $color-kwpb-main;
    }
  }

  .media-big {
    background: $color-kwpb-white;
    overflow: auto;
    .media-body {
      padding: 20px 20px 15px 20px;
    }
  }

  ul.twoce {
    column-gap: 0;
    @media (min-width: $tablet-small) and (max-width: $tablet-large - 1) {
      column-count: 2;
    }
    @media (min-width: $tablet-large) {
      column-count: 3;
    }
  }

  .kwpb-video-title {
    position: absolute;
    z-index: 2;
    margin-left: 10px;
    margin-top: 10px;
  }

  .kwpb-video-changer {
    position: relative;
    z-index: 1;
  }

  ul.kwpb-video-list {
    li {
      margin-left: 0px;
      margin-top: 0px;
      &.btn-link {
        cursor: pointer;
        color: $text-color;
      }
      .media-body {
        p {
          width: 100%;
          float: left;
        }
        span {
          &.badge-pill {
            margin-left: 4px;
          }
        }
        .media-title {
          padding-right: 7px;
        }
      }
      h4.media-title {
        font-size: 18px;
      }
    }
  }
}
