@import "partials/variables";

// Social media

$gmail: #d14836;
$facebook: #3B5999;
$twitter: #55ACEE;
$phone: $color-kwpb-grey-darker;
$instagram: #E4405F;
$skype: #00AFF0;
$youtube: #CD201F;
$github: #24292e;


/* MIXINS
========================================== */

@mixin animation($animation) {
  -webkit-animation: #{$animation};
     -moz-animation: #{$animation};
       -o-animation: #{$animation};
          animation: #{$animation};
}

@mixin keyframes($keyframes) {
  @-webkit-keyframes #{$keyframes} { @content; }
     @-moz-keyframes #{$keyframes} { @content; }
       @-o-keyframes #{$keyframes} { @content; }
          @keyframes #{$keyframes} { @content; }
}

@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: #{$transition};
     -moz-transition: #{$transition};
       -o-transition: #{$transition};
          transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: #{$transition-delay};
     -moz-transition-delay: #{$transition-delay};
       -o-transition-delay: #{$transition-delay};
          transition-delay: #{$transition-delay};
}

/* kprl-staffing
========================================== */

.kprl-staffing {
  width: 100%;
  position: relative;
  padding: 0px;
  .row, .card-deck {
    margin: 0px;
    padding: 0px;
    &.no-gutters {
      .col-12 {
        .card {
          margin-left: 0px;
          margin-right: 0px;
        }
      }
    }
  }
  .card {
    border: 0px;
    .kprl-staffing-departments {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
    }

    .card-body {
      height: 100%;
      padding: .75rem .75rem 10px .75rem;
      .card-title {
        margin: 0px;
      }
      .card-text {
        margin: 10px 0px 0px 1px;
        line-height: normal;
        font-size: $font-size-small;
        p {
          margin: 0px;
          font-size: $font-size-small;
        }
        hr {
          margin: 10px 0px;
          max-width: 100%;
          height: 1px;
          color: $color-kwpb-grey;
          opacity: .25;
        }
        .kprl-staffing-contact {}
        .kprl-staffing-content {
          margin-top: 10px;
        }
        .kprl-staffing-departments {
          margin-top: 10px;
        }
      }
    }
    .card-footer {
      padding: 0px .75rem .75rem .75rem;
      background-color: inherit;
      border-top: 0px;
      line-height: normal;
      font-size: 12px;
    }
  }
}

.kprl-staff {
  position: relative;
  max-width: 100%;
  padding: 0px 0px 40px 0px;
  overflow: hidden;
  margin: 0 auto;

  h1 {
    &:before, &:after {
      display: none;
    }
  }

  main {
    float: left;
    width: 100%;
    position: relative;

    section {
      border-radius: 5px;
      float: left;
      width: 100%;
      background-color: $color-kwpb-main;

      .media {
        padding: 1rem 1rem 1.5rem 1rem;
        position: relative;

        img {
          width: 30%;
          max-width: 80px;
          margin-right: 1rem;
        }

        @media (min-width: $screen-large + 1000) {
          padding: 1rem 1.5rem 1.5rem 1.5rem;
          img {
            margin-right: 1.5rem;
          }
        }

        .media-body {
          margin: auto 0px;
          color: $color-kwpb-white;
          h5, p, span, .kprl-staffing-departments {
            margin: 0px;
            line-height: normal;
          }
          h5 {
            margin-bottom: 7px;
            letter-spacing: 1px;
            font-weight: $font-weight-bold;
          }
          .kprl-staffing-departments {
            color: $color-kwpb-grey;
            float: left;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 160%;
            font-weight: $font-weight-bold;
            span {
              margin-right: 3px;
            }
          }
        }
      }
    }

    .title {
      float: left;
      width: 100%;
      background-color: $color-kwpb-opa-black;
      max-height: 0px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      overflow: hidden;
      @include transition(all .55s);

      &.active {
        max-height: 100px;
        @include transition(all 1.3s);

        p {
          @include transform(scale(1));
          transition-delay: .2s;
          margin: 0px;
        }
      }

      p {
        padding: 15px 30px;
        color: $color-kwpb-white;
        font-size: 16px;
        display: inline-block;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .5px;
        @include transition(all .3s);
        @include transform(scale(0));
      }
    }

    button {
      position: absolute;
      bottom: 0;
      right: 50%;
      background-color: $color-kwpb-complement;
      color: $color-kwpb-opa-black;
      border: 0;
      width: 200px;
      height: 40px;
      text-align: center;
      border-radius: 30px;
      font-size: 16px;
      letter-spacing: .5px;
      text-transform: uppercase;
      margin-bottom: -20px;
      margin-right: -100px;
      @include transition(all .4s);
      transition-delay: .1s;
      outline: none;
      overflow: hidden;
      z-index: 10;
      font-family: inherit;
      padding: 0px;

      span {
        opacity: 1;
        @include transition(opacity .2s);
        transition-delay: .4s;
        display: block;
        width: 200px;
        float: left;
        padding: 0px;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        opacity: 0;
        @include transition(all .4s);

        path {
          fill: $color-kwpb-opa-black;
        }
      }

      &.active {
        margin-right: 0;
        right: 20px;
        width: 65px;
        height: 65px;
        margin-bottom: -32.5px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        border-radius: 65px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

        span {
          opacity: 0;
          transition-delay: 0s;
          width: 200px;
        }

        svg {
          opacity: 1;
          transition-delay: .5s;
        }
      }
    }
  }

  nav {
    float: left;
    width: 100%;
    overflow: hidden;
    max-height: 0px;
    @include transition(all .5s);

    &.active {
      max-height: 1000px;
      @include transition(all 4s);

      a {
        opacity: 1;
        @include transform(translateY(0px));
        @include transition(all .7s);

        @for $i from 1 through 10 {
          &:nth-of-type(#{$i}n) {
            transition-delay: #{0.2 + $i * 0.2}s;
          }
        }

      }
    }

    a {
      float: left;
      width: 100%;
      margin-top: 15px;
      background-color: $color-kwpb-white;
      padding: 10px 20px 5px 20px;
      border-radius: 5px;
      text-decoration: none;
      @include transition(all .3s);
      opacity: 0;
      @include transform(translateY(-10px));
      position: relative;

      .arrow {
        position: absolute;
        right: 15px;
        top: 50%;
        @include transform(translateY(-50%));

        path {
          fill: darken($color-kwpb-white, 10%);
        }
      }

      .icon {
        float: left;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;

        svg {
          width: 100%;
          height: 100%;
          padding: 8px;

          path {
            fill: $color-kwpb-white;
          }
        }
      }

      &.phone {
        .icon {
          svg {
            background-color: $phone;
          }
        }

        .content {
          h1 {
            color: $phone;
          }
        }
      }

      &.email {
        .icon {
          svg {
            background-color: $gmail;
          }
        }

        .content {
          h1 {
            color: $gmail;
          }
        }
      }

      &.facebook {
        .icon {
          svg {
            background-color: $facebook;
          }
        }

        .content {
          h1 {
            color: $facebook;
          }
        }
      }

      &.twitter {
        .icon {
          svg {
            background-color: $twitter;
            padding: 10px 8px 8px 10px;
          }
        }

        .content {
          h1 {
            color: $twitter;
          }
        }
      }

      &.instagram {
        .icon {
          svg {
            background-color: $instagram;
          }
        }

        .content {
          h1 {
            color: $instagram;
          }
        }
      }

      &.skype {
        .icon {
          svg {
            background-color: $skype;
          }
        }

        .content {
          h1 {
            color: $skype;
          }
        }
      }

      &.youtube {
        .icon {
          svg {
            background-color: $youtube;
          }
        }

        .content {
          h1 {
            color: $youtube;
          }
        }
      }

      &.github {
        .icon {
          svg {
            background-color: $github;
          }
        }

        .content {
          h1 {
            color: $github;
          }
        }
      }

      .content {
        h1 {
          font-size: 20px;
          font-weight: 400;
          line-height: 160%;
          letter-spacing: .4px;
          display: inline-block;
          margin: 0px;
          top: -5px;
          position: relative;
        }

        span {
          font-size: 14px;
          color: darken($color-kwpb-grey-dark, 30%);
          display: block;
          letter-spacing: .4px;
          margin: 0px;
          line-height: normal;
          position: relative;
          top: -12px;
        }
      }
    }
  }
}

#editor {
  .kprl-staffing.row {
    display: block;
    flex-wrap: wrap;
    @media (min-width: 782px) {
      flex-wrap: nowrap;
    }

    .col {
      flex-basis: 50%;
      margin-right: 32px;
      width: 45%;
      display: inline-block;
      float: left;
    }
  }
}
