@import "partials/variables";
@import "kprl-bootstrap-media-list";

.wp-block-columns {
  &.no-gutters {
    display: flex;
    padding: 0px;
    margin: 0px;
    .wp-block-column {
      margin-left: 0px !important;
      margin-right: 0px !important;
      margin-bottom: 0px !important;
      display: flex;
      p {
        padding: 50px;
        margin: 0px;
      }
    }
  }
}
