@import "partials/variables";

#adminmenu {
  .toplevel_page_kwpb-options {
    background: $color-kwpb-main !important;
    &:hover, &.wp-menu-open {
      background: $color-kwpb-complement !important;
    }
    .wp-menu-name {
      color: $color-kwpb-black !important;
    }
  }
}

#editor {
  .wp-block-columns {
    [data-type="core/column"] .editor-block-list__block-edit {
      border-left: 1px dotted $color-kwpb-grey-darker;
      border-right: 1px dotted $color-kwpb-grey-darker;
      .editor-inner-blocks .editor-block-list__block-edit {
        border: 0px;
      }
    }
  }

  .edit-post-sidebar {
    .acf-button-group {
      width: 100%;
    }
  }
}
