/* MIXINS
========================================== */
/* kprl-staffing
========================================== */
.kprl-staffing {
  width: 100%;
  position: relative;
  padding: 0px;
}

.kprl-staffing .row, .kprl-staffing .card-deck {
  margin: 0px;
  padding: 0px;
}

.kprl-staffing .row.no-gutters .col-12 .card, .kprl-staffing .card-deck.no-gutters .col-12 .card {
  margin-left: 0px;
  margin-right: 0px;
}

.kprl-staffing .card {
  border: 0px;
}

.kprl-staffing .card .kprl-staffing-departments {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.kprl-staffing .card .card-body {
  height: 100%;
  padding: .75rem .75rem 10px .75rem;
}

.kprl-staffing .card .card-body .card-title {
  margin: 0px;
}

.kprl-staffing .card .card-body .card-text {
  margin: 10px 0px 0px 1px;
  line-height: normal;
  font-size: 14px;
}

.kprl-staffing .card .card-body .card-text p {
  margin: 0px;
  font-size: 14px;
}

.kprl-staffing .card .card-body .card-text hr {
  margin: 10px 0px;
  max-width: 100%;
  height: 1px;
  color: #f2f2f2;
  opacity: .25;
}

.kprl-staffing .card .card-body .card-text .kprl-staffing-content {
  margin-top: 10px;
}

.kprl-staffing .card .card-body .card-text .kprl-staffing-departments {
  margin-top: 10px;
}

.kprl-staffing .card .card-footer {
  padding: 0px .75rem .75rem .75rem;
  background-color: inherit;
  border-top: 0px;
  line-height: normal;
  font-size: 12px;
}

.kprl-staff {
  position: relative;
  max-width: 100%;
  padding: 0px 0px 40px 0px;
  overflow: hidden;
  margin: 0 auto;
}

.kprl-staff h1:before, .kprl-staff h1:after {
  display: none;
}

.kprl-staff main {
  float: left;
  width: 100%;
  position: relative;
}

.kprl-staff main section {
  border-radius: 5px;
  float: left;
  width: 100%;
  background-color: #00e3a6;
}

.kprl-staff main section .media {
  padding: 1rem 1rem 1.5rem 1rem;
  position: relative;
}

.kprl-staff main section .media img {
  width: 30%;
  max-width: 80px;
  margin-right: 1rem;
}

@media (min-width: 2280px) {
  .kprl-staff main section .media {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
  }
  .kprl-staff main section .media img {
    margin-right: 1.5rem;
  }
}

.kprl-staff main section .media .media-body {
  margin: auto 0px;
  color: #FFFFFF;
}

.kprl-staff main section .media .media-body h5, .kprl-staff main section .media .media-body p, .kprl-staff main section .media .media-body span, .kprl-staff main section .media .media-body .kprl-staffing-departments {
  margin: 0px;
  line-height: normal;
}

.kprl-staff main section .media .media-body h5 {
  margin-bottom: 7px;
  letter-spacing: 1px;
  font-weight: 600;
}

.kprl-staff main section .media .media-body .kprl-staffing-departments {
  color: #f2f2f2;
  float: left;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 160%;
  font-weight: 600;
}

.kprl-staff main section .media .media-body .kprl-staffing-departments span {
  margin-right: 3px;
}

.kprl-staff main .title {
  float: left;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  max-height: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  -webkit-transition: all 0.55s;
  -moz-transition: all 0.55s;
  -o-transition: all 0.55s;
  transition: all 0.55s;
}

.kprl-staff main .title.active {
  max-height: 100px;
  -webkit-transition: all 1.3s;
  -moz-transition: all 1.3s;
  -o-transition: all 1.3s;
  transition: all 1.3s;
}

.kprl-staff main .title.active p {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  margin: 0px;
}

.kprl-staff main .title p {
  padding: 15px 30px;
  color: #FFFFFF;
  font-size: 16px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.kprl-staff main button {
  position: absolute;
  bottom: 0;
  right: 50%;
  background-color: #fec700;
  color: rgba(0, 0, 0, 0.7);
  border: 0;
  width: 200px;
  height: 40px;
  text-align: center;
  border-radius: 30px;
  font-size: 16px;
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-bottom: -20px;
  margin-right: -100px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: .1s;
  -o-transition-delay: .1s;
  transition-delay: .1s;
  outline: none;
  overflow: hidden;
  z-index: 10;
  font-family: inherit;
  padding: 0px;
}

.kprl-staff main button span {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
  display: block;
  width: 200px;
  float: left;
  padding: 0px;
}

.kprl-staff main button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.kprl-staff main button svg path {
  fill: rgba(0, 0, 0, 0.7);
}

.kprl-staff main button.active {
  margin-right: 0;
  right: 20px;
  width: 65px;
  height: 65px;
  margin-bottom: -32.5px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 65px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.kprl-staff main button.active span {
  opacity: 0;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  width: 200px;
}

.kprl-staff main button.active svg {
  opacity: 1;
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
}

.kprl-staff nav {
  float: left;
  width: 100%;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.kprl-staff nav.active {
  max-height: 1000px;
  -webkit-transition: all 4s;
  -moz-transition: all 4s;
  -o-transition: all 4s;
  transition: all 4s;
}

.kprl-staff nav.active a {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.kprl-staff nav.active a:nth-of-type(1n) {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.kprl-staff nav.active a:nth-of-type(2n) {
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.kprl-staff nav.active a:nth-of-type(3n) {
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.kprl-staff nav.active a:nth-of-type(4n) {
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

.kprl-staff nav.active a:nth-of-type(5n) {
  -webkit-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

.kprl-staff nav.active a:nth-of-type(6n) {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
}

.kprl-staff nav.active a:nth-of-type(7n) {
  -webkit-transition-delay: 1.6s;
  -o-transition-delay: 1.6s;
  transition-delay: 1.6s;
}

.kprl-staff nav.active a:nth-of-type(8n) {
  -webkit-transition-delay: 1.8s;
  -o-transition-delay: 1.8s;
  transition-delay: 1.8s;
}

.kprl-staff nav.active a:nth-of-type(9n) {
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
}

.kprl-staff nav.active a:nth-of-type(10n) {
  -webkit-transition-delay: 2.2s;
  -o-transition-delay: 2.2s;
  transition-delay: 2.2s;
}

.kprl-staff nav a {
  float: left;
  width: 100%;
  margin-top: 15px;
  background-color: #FFFFFF;
  padding: 10px 20px 5px 20px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  position: relative;
}

.kprl-staff nav a .arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.kprl-staff nav a .arrow path {
  fill: #e6e6e6;
}

.kprl-staff nav a .icon {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.kprl-staff nav a .icon svg {
  width: 100%;
  height: 100%;
  padding: 8px;
}

.kprl-staff nav a .icon svg path {
  fill: #FFFFFF;
}

.kprl-staff nav a.phone .icon svg {
  background-color: #7c7c7c;
}

.kprl-staff nav a.phone .content h1 {
  color: #7c7c7c;
}

.kprl-staff nav a.email .icon svg {
  background-color: #d14836;
}

.kprl-staff nav a.email .content h1 {
  color: #d14836;
}

.kprl-staff nav a.facebook .icon svg {
  background-color: #3B5999;
}

.kprl-staff nav a.facebook .content h1 {
  color: #3B5999;
}

.kprl-staff nav a.twitter .icon svg {
  background-color: #55ACEE;
  padding: 10px 8px 8px 10px;
}

.kprl-staff nav a.twitter .content h1 {
  color: #55ACEE;
}

.kprl-staff nav a.instagram .icon svg {
  background-color: #E4405F;
}

.kprl-staff nav a.instagram .content h1 {
  color: #E4405F;
}

.kprl-staff nav a.skype .icon svg {
  background-color: #00AFF0;
}

.kprl-staff nav a.skype .content h1 {
  color: #00AFF0;
}

.kprl-staff nav a.youtube .icon svg {
  background-color: #CD201F;
}

.kprl-staff nav a.youtube .content h1 {
  color: #CD201F;
}

.kprl-staff nav a.github .icon svg {
  background-color: #24292e;
}

.kprl-staff nav a.github .content h1 {
  color: #24292e;
}

.kprl-staff nav a .content h1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: .4px;
  display: inline-block;
  margin: 0px;
  top: -5px;
  position: relative;
}

.kprl-staff nav a .content span {
  font-size: 14px;
  color: #7f7f7f;
  display: block;
  letter-spacing: .4px;
  margin: 0px;
  line-height: normal;
  position: relative;
  top: -12px;
}

#editor .kprl-staffing.row {
  display: block;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (min-width: 782px) {
  #editor .kprl-staffing.row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

#editor .kprl-staffing.row .col {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin-right: 32px;
  width: 45%;
  display: inline-block;
  float: left;
}
