#adminmenu .toplevel_page_kwpb-options {
  background: #00e3a6 !important;
}

#adminmenu .toplevel_page_kwpb-options:hover, #adminmenu .toplevel_page_kwpb-options.wp-menu-open {
  background: #fec700 !important;
}

#adminmenu .toplevel_page_kwpb-options .wp-menu-name {
  color: #000000 !important;
}

#editor .wp-block-columns [data-type="core/column"] .editor-block-list__block-edit {
  border-left: 1px dotted #7c7c7c;
  border-right: 1px dotted #7c7c7c;
}

#editor .wp-block-columns [data-type="core/column"] .editor-block-list__block-edit .editor-inner-blocks .editor-block-list__block-edit {
  border: 0px;
}

#editor .edit-post-sidebar .acf-button-group {
  width: 100%;
}
