.medialist {
  background: #FFFFFF;
  border-bottom: 2px solid #00e3a6;
}

.medialist ul {
  padding-left: 0px !important;
  margin: 0px !important;
  list-style: none;
}

.medialist ul li {
  padding: 10px 10px;
}

.medialist ul li:nth-child(odd) {
  background: rgba(255, 255, 255, 0.7);
}

.medialist ul li:nth-child(even) {
  background: #FFFFFF;
}
 
.medialist ul li:hover {
  background: rgba(250, 248, 247, 0.95) !important;
}

.medialist ul li img {
  margin-right: 10px;
}

.medialist h2, .medialist h3.media-title, .medialist h4.media-title, .medialist h5 {
  color: #212529;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
  border: 0px;
  margin: 0px !important;
  padding: 0px;
}

.medialist h2:before, .medialist h2:after, .medialist h3.media-title:before, .medialist h3.media-title:after, .medialist h4.media-title:before, .medialist h4.media-title:after, .medialist h5:before, .medialist h5:after {
  display: none;
}

.medialist h2 a, .medialist h3.media-title a, .medialist h4.media-title a, .medialist h5 a {
  text-decoration: none;
}

.medialist h2, .medialist h5 {
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
  padding: 10px 15px;
}

.medialist h2.card-title, .medialist h5.card-title {
  color: #212529;
  padding: 0px;
}

.medialist .term-border:after {
  z-index: 90;
  -webkit-transform: rotate(540deg);
  -ms-transform: rotate(540deg);
  transform: rotate(540deg);
  content: '';
  border: 10px solid #fff;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: inherit;
  border-left-color: transparent;
  position: absolute;
  bottom: -19px;
  right: 15px;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  display: block;
}

.medialist .wp-block-embed {
  margin-bottom: 0px;
}

.medialist .timediff {
  color: #7c7c7c;
  font-size: 14px;
}

.medialist .timediff i {
  color: #cbcbcb;
  font-size: 75%;
  margin-left: 2px;
}

.medialist .timediff span {
  margin-left: 5px;
}

.medialist .media-body {
  font-size: 14px;
}

.medialist .media-body h3.media-title {
  font-size: 20px;
}

.medialist .media-body h3.media-title:before {
  z-index: 100;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  content: '';
  border: 10px solid #fff;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #fff;
  border-left-color: transparent;
  position: relative;
  margin-top: -20px;
  top: -19px;
  left: 0px;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  display: block;
}

.medialist .media-body h4.media-title {
  font-size: 15px;
}

.medialist .media-body p {
  margin: 0.5rem 0px !important;
  font-size: 14px !important;
  line-height: normal !important;
}

.medialist .media-body .media-time-more {
  margin: 0.3rem 0px -0.2rem 0px;
}

.medialist .media-body .readmore {
  color: #00e3a6;
}

.medialist .media-big {
  background: #FFFFFF;
  overflow: auto;
}

.medialist .media-big .media-body {
  padding: 20px 20px 15px 20px;
}

.medialist ul.twoce {
  -webkit-column-gap: 0;
  column-gap: 0;
}

@media (min-width: 480px) and (max-width: 767px) {
  .medialist ul.twoce {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .medialist ul.twoce {
    -webkit-column-count: 3;
    column-count: 3;
  }
}

.medialist .kwpb-video-title {
  position: absolute;
  z-index: 2;
  margin-left: 10px;
  margin-top: 10px;
}

.medialist .kwpb-video-changer {
  position: relative;
  z-index: 1;
}

.medialist ul.kwpb-video-list li {
  margin-left: 0px;
  margin-top: 0px;
}

.medialist ul.kwpb-video-list li.btn-link {
  cursor: pointer;
  color: #212529;
}

.medialist ul.kwpb-video-list li .media-body p {
  width: 100%;
  float: left;
}

.medialist ul.kwpb-video-list li .media-body span.badge-pill {
  margin-left: 4px;
}

.medialist ul.kwpb-video-list li .media-body .media-title {
  padding-right: 7px;
}

.medialist ul.kwpb-video-list li h4.media-title {
  font-size: 18px;
}

.wp-block-columns.no-gutters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.wp-block-columns.no-gutters .wp-block-column {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wp-block-columns.no-gutters .wp-block-column p {
  padding: 50px;
  margin: 0px;
}
